.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

.rectangle {
    width: 300px;
    height: 450px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.content {
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.time{
    font-size: 12px;
    color: #8a8a8a;
    padding-left: 10px;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: 6px;
    width: 78px;
    border-radius: 20px;
    background: #bfbfbf;
}

.category_text {
    font-size: 12px;
    color: #1205FF;
    margin-bottom: 3.3px;
}

.news_text {
    margin: 10px;
    font-size: 15px;
}

.button {
    position: absolute;
    bottom: 200px;
    left: 10px;
    background: linear-gradient(to bottom right, #0500FF, #9F3FFF); /* Цвет фона кнопки */
    padding: 10px;
    width: 60px;
    height: 5px;
    border-radius: 40px;
    border-bottom-right-radius: 100px;
    cursor: pointer; /* Делаем курсор при наведении */
    font-size: 16px;
}

.to_news {
    position: absolute;
    bottom: 3px;
    left: 13px;

    text-decoration: none;
    color: #ffffff;
}


.diagonal-image {
    position: absolute;
    bottom: 0; /* Позиционируем на нижнем крае */
    left: 0;
    right: 0;
    height: 100%; /* Высота изображения */
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 100%, 100% 200%, 100% 40%, 0 65%);
    /*background-image: url("../images/1646471205_1-abrakadabra-fun-p-fon-treiding-1.jpg")/* Скошенный нижний край перенесен вниз */
}

@media (max-width: 768px) {
    .container {
        justify-content: space-around;
    }

    .rectangle {
        margin: 10px;
    }
}