
.container {
    display: flex; /* Размещение дочерних элементов внутри контейнера */
    justify-content: center; /* Выравнивание дочерних элементов по центру горизонтально */

    margin-top: 20px;
}

.rectangle {
    width: 30%; /* Ширина каждого прямоугольника */
    height: 300px; /* Высота прямоугольника */
    background-color: #ffffff; /* Цвет фона */
    margin: 0 1%; /* Отступ между прямоугольниками */
    border-radius: 20px;
}
