.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    max-width: 350px; /* Максимальная ширина контейнера */
    width: 80%; /* Процент от ширины родительского элемента */
}

.signup-form {
    width: 100%; /* Чтобы форма занимала всю ширину контейнера */
    text-align: center; /* Выравнивание формы по центру */
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px; /* Отступ снизу заголовка */
}

label {
    display: block;
    margin-bottom: 10px;
    color: #797979;
}

input[type="text"],
input[type="password"] {
    width: calc(70% - 20px);
    background-color: #e5e5e5;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 70px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

button[type="enter"],
button[type="register"]{
    background: linear-gradient(to bottom right, #0500FF, #9F3FFF);
    color: #ffffff;
    padding: 10px 25px;
    border: none;
    border-radius: 40px;
    border-bottom-right-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    width: calc(70% - 20px); /* Чтобы учесть внутренний отступ */
}

p[class="error"]{
    color: #ff4848;
}
